---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---



<h1 class="accueil">Bienvenue</h1>

<div class="accueil">
  <p class="accueil">Je suis technicien (<em>BibAss</em>) dans un SCD (Service Commun de la Documentation, <em>les BU</em>) d'une petite université. J'officie au Service d'Appui à la Recherche du Département des Services au Public. Nos missions : <a href="https://hal-univ-pau.archives-ouvertes.fr" target="_blank">portail HAL de l'université</a> (administration, formations au dépôt, réseau des correspondants labo, <a href="https://halathon2021-hal-e2s-uppa.netlify.app" target="_blank">HALathon</a>...), serveur Omeka S, formations IdNum (idhal, orcid...), GT science ouverte...</p>
  <p class="accueil">Ce carnet est né de la volonté de tester des outils de blogs statiques (ici <a href="https://www.11ty.dev" target="_blank"><em>Eleventy</em></a>) et va me permettre de noter et partager sur des usages du numérique dans mon milieu professionnel.</p>
  <p class="accueil">--> Je partage ma veille sur <a href="https://twitter.com/UjuBib" target="_blank"><img src="img/twitter.png" height="32px" style="vertical-align:middle"></img>@UjuBib</a> : : : : : : Fil copié sur <a href="https://fr.wikipedia.org/wiki/Mastodon_(r%C3%A9seau_social)" target="_blank">Mastodon <img src="img/wikipedia.png" height="22px" style="vertical-align:middle"></img></a> ici  <a href="https://mamot.fr/@UjuBib" target="_blank"><img src="img/Mastodon.png" height="22px" style="vertical-align:middle"></img>@UjuBib@mamot.fr</a></p>
</div>



{% set maxPosts = collections.posts.length | min(4) %}
<h1>Les {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} derniers billets{% endif %}</h1>

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}


<ul>
  <li><p><a href="{{ '/posts/' | url }}">Archive</a> (Tous les billets)</p></li>
</ul>

<h1 style="margin-top:1em">Tous les Tags :</h1>

<hr class="top" style="margin-top:0em;"/>

{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}


<footer>
    <hr class="top" style="margin-top:1.2em;"/>
    <p><a href="https://uju-11ty.netlify.app/feed/feed.xml"><img height="22px" src="/img/rss-blanc.png" style="vertical-align:middle"></img> Flux Atom (pour s'abonner)</a></p>
</footer>
