---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Les {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} derniers billets{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Plus de billets : <a href="{{ '/posts/' | url }}">Archive</a>.</p>


<footer>
    <hr style="border:none;border-top:1px dashed deeppink;max-width:42em;margin:0px;margin-top:1em;margin-bottom:1em;" />
    <p><a href="https://uju-11ty.netlify.app/feed/feed.xml"><img height="22px" src="/img/rss-blanc.png" style="vertical-align:middle"></img> Flux Atom (pour s'abonner)</a></p>
</footer>
